/*** Variables ***/

$color-main-text: #2c3e50;
$color-bg: #12002b;
$color-white: #ffffff;
$color-black: #000000;
$color-green: #00bc77;
$color-green-active: #42b983;
$color-footer-top: #ccc;
$color-feature-item-title: #222;

$breakpoint-desktop: 920px;