/*** Sign-In ***/

.main {
    flex: 1;
}

.bg-dark {
    background-color: $color-green;
}

.sign-in {
    &_content {
        box-sizing: border-box;
        background-color: $color-white;
        width: 300px;
        margin: 0 auto;
        margin-top: 3rem;
        padding: 2rem;
    }

    &_icon {
        font-size: 5rem;
    }
}